.columns:not(.is-desktop) {
    display: -webkit-box;
    display: flex;
}

.columns.is-centered {
    -webkit-box-pack: center;
    justify-content: center;
}

.columns:last-child {
    margin-bottom: -0.75rem;
}

.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}

BODY {
    font-family: 'Radio Canada', sans-serif;
    background-color: rgb(30, 49, 99);
}

.navbar {
    background-color: rgb(240, 55, 165);
    color: white;
}

#botonNav {
    color: white;
    background-color: rgb(30, 49, 99);
}

#descripcion {
    background-color: rgb(45, 70, 185);
}

#displayDescripcion {
    background-color: white;
    color: rgb(30, 49, 99);
}

#miexperiencia {
    color: white;
}

#fondoExperiencia {
    background-color: rgb(240, 55, 165);
    color: white;
    padding: 20px;
}

#educacion>.card {
    flex: 150px;
}

#edu1 {
    border-width: 10px;
    background-color: rgb(240, 55, 165);
    color: white;
}

#edu2 {
    border-width: 10px;
    background-color: rgb(45, 70, 185);
    color: white;
}

#edu3 {
    border-width: 10px;
    background-color: rgb(240, 55, 165);
    color: white;
}

#skill>.card {
    flex: 150px;
    background-color: rgb(45, 70, 185);
    color: white;
    border-color: rgb(240, 55, 165);
    border-width: 5px;
    border-style: solid;
}

#proyecto1 {
    color: white;
    background-color: rgb(45, 70, 185);
}

#proyecto2 {
    color: white;
    background-color: rgb(240, 55, 165);
}

#proyecto3 {
    color: rgb(240, 55, 165);
    background-color: rgb(45, 70, 185);
}